.header {
  margin-top: 20px;
  padding: 20px;
  background-image: url("../images/bacground.png");
  background-position: center;
  background-repeat: no-repeat;
}

.header__title {
  margin: 0;
  text-align: center;
}

.header__content {
    text-align: justify;
    text-indent: 10px;
}